@font-face {
    font-family: "Hyundai Sans Head";
    font-weight: 400;
    font-style: normal;
    src: local("Hyundai Sans Head"),
    url("../fonts/Hyundai Sans Head.woff2") format("woff2"),
    url("../fonts/Hyundai Sans Head.woff") format("woff"),
  }
  
  @font-face {
    font-family: "Hyundai Sans Head";
    font-weight: 700;
    font-style: normal;
    src: local("Hyundai Sans Head Bold"),
    url("../fonts/Hyundai Sans Head Bold.woff2") format("woff2"),
    url("../fonts/Hyundai Sans Head Bold.woff") format("woff"),
  }
  
  @font-face {
    font-family: "Hyundai Sans Text KR";
    font-weight: 400;
    font-style: normal;
    src: local("Hyundai Sans Text KR Medium"),
    url("../fonts/Hyundai Sans Text KR Medium.woff2") format("woff2"),
    url("../fonts/Hyundai Sans Text KR Medium.woff") format("woff"),
  }

  @font-face {
    font-family: "Hyundai Sans Text KR";
    font-weight: 700;
    font-style: normal;
    src: local("Hyundai Sans Text Bold"),
    url("../fonts/Hyundai Sans Text Bold.woff2") format("woff2"),
    url("../fonts/Hyundai Sans Text Bold.woff") format("woff"),
  }
  